<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="photoService.loaded">
    <ion-item *ngFor="let photo of photoService.photos; let i = index">
      <ion-thumbnail slot="start">
        <img [src]="photo.webviewPath" alt="Photo" />
      </ion-thumbnail>
      <ion-label>
        <p text-center>{{ photo.name }} </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="!photoService.loaded" class="ion-text-center">
    <p>Cargue las fotos en el Tab 2</p>
  </div>
</ion-content>
